<!-- detail page header start -->
<div class="page-header">
	<h1><?= $data['title'] ?></h1>
	<!--<p>作者信息</p>-->
	<small>阅读 <?= $data['pv'] ?></small>
	<small><a href="<?= $param['uri']['this'] ?>#comments">评论 <?= $data['comments'] ?></a></small>
	<small>喜欢 <?= $data['likes'] ?></small>
	<small>悬赏 <?= $data['price'] ?><button class="btn btn-link addPriceBtn"  data-toggle="modal" data-target="#addPriceModal" data-id="{$data.id}">追加悬赏</button></small>
	<button class="btn btn-link editBtn" data-id="{$data.id}">编辑</button></p>
</div>
<!-- detail page header end -->

<!-- detail content start -->
<div class="article-content">
	<?= $data['content'] ?>
	<div id="sendAnswer">
	<textarea name="content" placeholder="内容" class="form-control editor"
			  style="width: 100%"></textarea>

		<div class="send-answer-btn">
			<button type="button" class="btn btn-primary" id="sendAnswerBtn" >
				<i class="icon-note"></i> 提交回答
			</button>

		</div>
	</div>
</div>
<!-- detail content end -->
<div class="article-content" >
	<div>最佳答案</div>
	{$answer.content}
</div>

<!-- like button start -->
<hr>
<div class="like-section">
	<button type="button" class="btn btn-default" id="likeBtn">
		<i class="fa fa-heart"></i> 喜欢 | <span id="likesCount"><?= $data['likes'] ?></span>
	</button>
</div>
<!-- like button end -->

<!-- comments start -->
<hr>
<ul class="answers-list"> </ul>
<!--<div class="comments-section">
	<a id="comments"></a>
	<div class="">
		<?= $data['comments']?> 条评论
	</div>

	<hr>

	<ul class="comments-list"> </ul>

	<div class="send-comment-section">
		<form id="sendCommentForm">
			<div class="send-comment-length">
				可写 250 个字
			</div>
			<div class="send-comment-btn">
				<button type="button" class="btn btn-primary" id="sendCommentBtn" >
					<i class="icon-note"></i> 发表评论
				</button>
			</div>
			<textarea class="form-control send-comment-content"></textarea>
		</form>

	</div>
</div>-->
<!-- comments end -->

<div class="modal fade" id="addPriceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">追加悬赏</h4>
			</div>
			<div class="modal-body">
				<div class="alert  alert-info"><i class="fa fa-exclamation-circle"></i>提高悬赏，以提高问题的关注度！</div>
				<div class="form-group form-inline">
				<label for="addprice">追加</label><div id="addprice" style="display: inline;"></div>个金币,您目前有({$userData.price})个金币
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" id="sendPriceBtn">提交</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>