<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">站点设置</h3>
	</div>
	<div class="panel-body">
		<p>以下设置站点的基本信息</p>
	</div>
	<form class="form-horizontal" role="form" width="80%">


		<div class="form-group">
			<label class="col-sm-2 control-label" for="sitename">站点名称</label>
			<div class="col-sm-5">
			<input type="text" class="form-control" id="sitename" placeholder="请输入站点名称" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="sitename">站点URL</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="siteurl" placeholder="请输入站点url" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="sitename">管理员email</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="siteemail" placeholder="管理员电子邮箱" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="sitename">统计代码</label>
			<div class="col-sm-5">
				<textarea type="textarea" class="form-control" id="statistics" rows="5" placeholder="统计代码" ></textarea>
			</div>
		</div>
	</form>





</div>

<div class="rows">
	<div class="col-xs-12 col-md-12" >
<button class="btn red btn-lg" id="submitFormBtn" type="button"><i class="fa fa-check"></i> 保存
</button>
	</div>
</div>