<div class="row auth">
	<div class="col-md-6 col-xs-12 auth-left"></div>
	<div class="col-md-6 col-xs-12 auth-right">

		<div class="auth-content">
			<div class="page-header">
				<h4>登录 DMG 可以</h4>
				<p>参与讨论、互动和学习</p>
			</div>
			<form id="signInForm" class="form-horizontal" role="form">
				<div class="form-group">
					<div class="col-sm-6 col-xs-6">
						<input type="text" class="form-control" name="userInfo" placeholder="邮箱" autocomplete="off">
					</div>
					<div class="col-sm-6 col-xs-6">
						<input type="password" class="form-control" name="pwd" placeholder="密码" autocomplete="off">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6 col-xs-6">
						<div class="checkbox">
							<label> <input type="checkbox" name="remember"> 记住用户名 </label>
						</div>
					</div>
					<div class="col-sm-6 col-xs-6 text-right">
						<button id="signInBtn" type="submit" class="btn btn-success ">
							登录 <i class="icon-arrow-right"></i>
						</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6 col-xs-6">
						还没有账号,现在去 <a href="/auth/signup">注册</a> 或 <a href="/">返回首页</a>
					</div>
				</div>
			</form>

			<div class="auth-sns-logo text-center">

				<a href="#"> <i class="fa fa-qq"></i> </a>
				<a href="#"> <i class="fa fa-wechat"></i> </a>
				<a href="#"> <i class="fa fa-weibo"></i> </a>
			</div>
		</div>
	</div>
</div>


